.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3333;
  z-index: 1000;
}

.popup[data-hidden=true] {
  display: none;
}

.popup-container {
  position: relative;
  padding: 2vw;
  border-radius: 1rem;
  background-color: #63bad2;
}

.popup-container img {
  max-width: 100%;
}

.popup-container-blog h3 {
  font-size: 1.8rem;
  color: #780b0b;
  text-shadow: none;
}

.popup-container-blog {
  color: #dee9ff;
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #63bad2;
  max-width: 30rem;
  line-height: 1.5rem;
  text-shadow: none;
}

.popup-closer {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: #63bad2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 420px) {
  .popup-container-blog {
    max-width: 70%;
    max-height: 70%;
    overflow: auto;
  }
}
